cryptography==42.0.5
easydict==1.13
fitz==0.0.1.dev2
mediapipe==0.10.7
numpy==1.26.4
onnx==1.16.0
onnxruntime==1.17.3
opencv_contrib_python==4.9.0.80
Pillow==10.3.0
PyQt5==5.15.10
PyQt5_sip==12.13.0
qpageview==0.6.2
requests_pkcs12==1.24
skimage==0.0
tensorboardX==2.6.2.2
torch==2.3.0
torchvision==0.18.0
tqdm==4.66.4